/faasta-hmac-secret
/server/functions
/server/builds
/builds
.aider*
target/*
.DS_Store
**/user_data
**/target
**/builds

user_data/*
server/user_data*
functions/function
server-wasi/certs/cert.pem
server-wasi/certs/key.pem
server-wasi/data/*
server-wasi/functions
