/faasta-hmac-secret
/server/functions
/server/builds
/builds
.aider*
target/*
.DS_Store
**/user_data
**/target
**/builds

user_data/*
server/user_data*
functions/function
server/certs/cert.pem
server/certs/key.pem
server/data/*
server/functions

**/.claude/settings.local.json
.idea
.idea
.idea/rust-faas-serverless.iml
.idea
